<!-- app/views/shared/_navbar.html.erb -->

<nav class="sticky top-0 z-40 bg-white h-10 flex items-center py-8 cormorant-garamond">
  <div class="container mx-auto flex justify-between items-center h-10 px-4">

    <!-- Logo / Nombre -->
    <%= link_to root_path, class: "text-xl font-light texto-color-rojo flex items-center" do %>
    <%= image_tag "image.png", alt: "Logo Wedding", class: "mx-auto w-10 h-10" %>
      <h1>A&A</h1>
    <% end %>
    <!-- Botón RSVP -->
    <%= link_to "RSVP", new_confirmation_path, class: "color-principal text-white px-3 h-8 flex items-center rounded hover:bg-red-700 transition text-base" %>
  </div>
</nav>
