/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.color-principal {
  background-color: #c22b3e;
}

.texto-color-rojo
{
  color: #c22b3e;
}

#splash {
  transition: transform 1s cubic-bezier(0.77,0,0.175,1), opacity 1s;
  transform-origin: left center;
}
#splash.page-turn {
  transform: perspective(800px) rotateY(-100deg);
  opacity: 0;
  pointer-events: none;
}

.great-vibes {
  font-family: 'Great Vibes';
  font-weight: normal;
}

.color-gold {
  color: #EEBA2A;
}

.text-stroke {
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

@font-face {
      font-family: 'Magnolia Script';
      src: url('<%= asset_path("MagnoliaScript.otf") %>') format('opentype');
      font-weight: bold;
      font-style: cursive;
    }

.magnolia-script {
  font-family: 'Magnolia Script', cursive;
}

.cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 300;
  font-style: italic;
}


.texturina-semibold {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.eb-garamond-italic {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
